.navbar {
  display: flex;
  justify-content: center;
  margin: 39px 19px 10px 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d7d7d7;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: rgb(22, 22, 22);
}
