.footer-main {
  font-size: 17px;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  border-top: 2px solid #d7d7d7;
  margin-top: 50px;
  position: absolute;
  top: 85%;
width: 100%;
}

