/* .box {
  border: 1px solid;
  height: 100px;
  width: 250px;
  overflow-x: hidden;
  margin-left: 10px;
  margin-right: 10px;
  }
  .list {
    display: flex;
  }
  .one {
    width: 33.3%;
    border: 1px solid;
    margin: 0px;
    text-align: center;
  }

.boxes{
  border:1px solid
} */