.box {
    border: 1px solid;
    height: 100px;
    width: 200px;
    overflow-x: hidden;
  }
  .list {
    display: flex;
  }
  .one {
    width: 33.3%;
    border: 1px solid;
    margin: 0px;
    /* padding: 5px; */
    /* list-style: none; */
    text-align: center;
  }

.boxes{
  border:1px solid
}